<div class="p-fluid grid">
  <form #addCustomerForm="ngForm" (ngSubmit)="onSubmit(addCustomerForm)">
    <fieldset [disabled]="isDisabled">
      <div class="field">
        <label for="name" class="block">Name</label>
        <div *ngIf="(name.touched || name.dirty) && name.invalid" class="alert">
          <small *ngIf="name.errors?.['required']" class="p-error block"
            >Name is required.</small
          >
        </div>
        <input
          #name="ngModel"
          required
          name="name"
          type="text"
          class="form-control"
          [(ngModel)]="customer.name"
          pInputText
        />
      </div>

      <div class="field">
        <label for="surname" class="block">Surname</label>
        <div
          *ngIf="(surname.touched || surname.dirty) && surname.invalid"
          class="alert"
        >
          <small *ngIf="surname.errors?.['required']" class="p-error block"
            >Surname is required.</small
          >
        </div>
        <input
          #surname="ngModel"
          required
          name="surname"
          type="text"
          class="form-control"
          [(ngModel)]="customer.surname"
          pInputText
        />
      </div>

      <div class="field">
        <label for="dob" class="block">Birth date</label>
        <div *ngIf="(dob.touched || dob.dirty) && dob.invalid" class="alert">
          <small *ngIf="dob.errors?.['required']" class="p-error block"
            >Birth date is required.</small
          >
        </div>
        <p-calendar
          #dob="ngModel"
          [required]="true"
          name="dob"
          [(ngModel)]="customer.dob"
          class="form-control"
          dateFormat="yy-mm-dd"
          inputId="dob"
        ></p-calendar>
      </div>

      <div class="field">
        <label for="phone" class="block">Telephone number</label>
        <div
          *ngIf="(phone.touched || phone.dirty) && phone.invalid"
          class="alert"
        >
          <small *ngIf="phone.errors?.['required']" class="p-error block"
            >Telephone number is required.</small
          >
        </div>
        <input
          #phone="ngModel"
          required
          name="phone"
          type="text"
          class="form-control"
          [(ngModel)]="customer.phone"
          pInputText
        />
      </div>

      <div class="field">
        <label for="email" class="block">E-mail</label>
        <div
          *ngIf="(email.touched || email.dirty) && email.invalid"
          class="alert"
        >
          <small *ngIf="email.errors?.['required']" class="p-error block"
            >E-mail is required.</small
          >
          <small *ngIf="email.errors?.['pattern']" class="p-error block"
            >E-mail is invalid.</small
          >
        </div>
        <input
          #email="ngModel"
          required
          name="email"
          type="email"
          class="form-control"
          [(ngModel)]="customer.email"
          [pattern]="emailPattern"
          pInputText
        />
      </div>

      <button
        *ngIf="!this.customer.id"
        pButton
        type="submit"
        label="Save"
      ></button>
    </fieldset>
  </form>
</div>
